/*==================================================
スライダーのためのcss
===================================*/
/* .slider {
  width:94%;
  margin:0 auto;
} */

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}
.slider img:hover {
  opacity: 0.7;
}

.slider .slick-slide {
transform: scale(0.8);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 1;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


